# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

env/

backend/__pycache__/
backend/controller/__pycache__/
*.pyc